
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {outline: none;}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


.row {
    max-width: 1140px;
    margin: 0 auto;
}


section {
    padding: 80px 0; 
}

.box {
    padding: 1%;
}



h1, 
h2,
h3,h4,h5{
    font-weight: 500;
    text-transform: uppercase;
}

h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    font-size: 140%; 
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align:center;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}


h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " "; 
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}


.long-copy {
    line-height: 145%; 
    width: 70%; 
    margin-left: 15%; 
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%; 
    margin-right: 10px;
    
   
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}



a:link, 
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}



.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300px;
    text-decoration: none;
    border-radius: 200px;

    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
    border: 1px solid #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}




header {

    background-image:url(bgnd.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh; 
    background-repeat: no-repeat;
    background-size: 500px 220px;
    opacity: 0.9;
}

.hero-text-box {
    position: absolute;
    width: 1140px; 
    top: 50%; 
    left: 50%;
    margin: 0%;
    
    transform: translate(-50%, -50%); 
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 60px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 10px;
}

.main-nav li a:link, 
.main-nav li a:visited {
    padding: 8px 0;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover, 
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

.section-features .long-copy {
    margin-bottom: 30px;
}

#sectn {
    background-image: linear-gradient(rgba(0, 0, 0, 0), #00000044), url(/chess.jpg);
}


.section-photos {
     background-color: #00000036;
    padding: 0;
}

.photo-showcase {
    list-style: none;
    width: 100%;
}

.photo-showcase li {
    display: block;
    float: left;
    width: 25%; 
}

.g-photo {
    width: 100%;
    margin: 0;
    overflow: hidden; 
    background: #000;
}

.g-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s; 
}

.g-photo img:hover {
    opacity: 1;
    transform: scale(1.03); 
}

.section-steps {
    background-color: #00000036;
}

.steps-box {
    margin-top: 30px; 
}

.steps-box:first-child {
    text-align: right; 
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}



.works-step {
    margin-bottom: 50px;
    align-content: center;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block; 
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    margin-right: 25px;
}

#tb {
    align-items: center;
    background-color: rgba(218, 181, 19, 0.918);
    margin-bottom: 20px;
  }
  table, th, td {
  border: 1px solid black;
  }

  td,
  th {
    padding: 20px;
    text-align: center;
    color: rgb(3, 41, 8);
  }